* {
  box-sizing: border-box;
}

/* PAGE ELEMENTS */
body {
  max-height: 100vh;
  margin: 0;
  background-color: rgb(34, 40, 43);
  font-family: 'Exo', sans-serif;
  color: whitesmoke;
}
.page-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start-screen {
  width: 600px;
  text-align: center;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  border-width: 4px;
  color:rgb(52, 61, 65);
  border-style: double;
  background-color: whitesmoke;
}
p.small {
  font-size: 14px;
}
header {
  width: 600px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 65px;
  margin-bottom: 0px;
  margin-top: 30px;
}
h2 {
  margin-bottom: 10px;
}
div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 300px;
  height: 50px;
}
div.player-data {
  flex-direction: row;
  width: 330px;
  display: flex;
  justify-content: space-between;
  font-size: larger;
}

.grid-wrapper {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-bottom: none;
  margin-top: 10px;
}
.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 600px;
  background-color: white;
  padding: 0;
  margin: 20px 0;
  background-color: rgb(52, 61, 65);
}
.grid div {
  flex-grow: 1;
  height: 4.8%;
  width: 4.8%;
}
footer {
  margin-top: 60px;
  width: 600px;
  text-align: center;
  color: whitesmoke;
}
.game-end {

  width: 600px;
  text-align: center;
  padding: 20px;
  margin: auto;
  margin-top: 180px;
  border-width: 4px;
  color:rgb(52, 61, 65);
  border-style: double;
  background-color: whitesmoke;
}

/* GAME ELEMENTS */
div.safety-pads {
  background-image: url('../assets/PinClipart.com_lily-pad-clipart_5250322.png');
  background-repeat: no-repeat;
  background-size: contain;
}
div.water-safety {
  background-color: rgb(102, 138, 202);
  border-radius: 7px;
  border: solid;
  border-width: thin;
}
div.frog.road {
  background-image: url(../assets/PinClipart.com_cute-hopping-frog-clipart_5585811.png);
  background-repeat: repeat-y;
  background-size: contain;
  background-attachment: initial;
  background-position: unset;
  
}
div.road-safety  {
  background-color: rgb(102, 138, 202);
  border-radius: 7px;
  border: solid;
  border-width: thin;
}
div.obstacles.road {
  background-image: url(../assets/covid19_icon-002.png);
  background-size: contain;
  background-attachment: inherit;
  background-position: center;
}
div.objects {
  background-image: url(../assets/kisspng-respirator-surgical-mask-nose-2018-01-15-mask-health-5b0c02368799a5.1293411415275136545554.png);
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: contain;
  background-position: center;
}
div.objects.water.frog {
  background-image: url(../assets/PinClipart.com_cute-hopping-frog-clipart_5585811.png);
  background-size: contain;
  background-attachment: inherit;
  background-position: center;
}
.frog {
  background-image: url(../assets/PinClipart.com_cute-hopping-frog-clipart_5585811.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: initial;
  ;
}

/* BUTTONS */
button.start {
  font-family: 'Exo', sans-serif;
  background-color: rgb(127 147 156);
  width: 150px;
  height: 50px;
  margin: 30px 0;
  font-size: x-large;
  border-radius: 10px;
}

button.reset {
  font-family: 'Exo', sans-serif;
  background-color: rgb(127 147 156);
  width: 150px;
  height: 50px;
  margin: 50px 0;
  font-size: x-large;
  border-radius: 10px;
}

/* HIDDEN */
.hidden {
  display: none;
}







