* {
  box-sizing: border-box;
}


body {
  height: 100vh;
  /* width: fit-content; */
  margin: 0;
  background-color: rgb(52, 61, 65);
  align-content: center;

  /* font-family: 'ABeeZee', sans-serif; */
  font-family: 'Exo', sans-serif;
  color: whitesmoke;
}
.page-contents {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* border-width: 2px;
  border-color: black;
  border-style: solid; */
}

main {
  /* border-width: 4px;
  border-color: black;
  border-style: double; */
}

.start-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  text-align: center;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  border-width: 4px;
  color:rgb(52, 61, 65);
  border-style: double;
  background-color: whitesmoke;
}

p.small {
  font-size: 14px;
}

.game-end {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  text-align: center;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  border-width: 4px;
  color:rgb(52, 61, 65);
  border-style: double;
  background-color: whitesmoke;
}

header {
  /* background-color: darkcyan; */
  width: 600px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 65px;
  margin-bottom: 0px;
  margin-top: 30px;
}

div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 600px;
  height: 50px;
  margin-bottom: 30px;
}

div.player-data {
  flex-direction: row;
  width: 330px;
  display: flex;
  justify-content: space-between;

  font-size: larger;

}

.pause {
  font-family: 'Exo', sans-serif;
  width: 90px;
  height: 40px;
  margin: 20px 0 10px;
  font-size: larger;
}

.grid-wrapper {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  /* border-color: rgb(44, 51, 55);
  border-width: 5px;
  border-radius: 5px; */
  
  align-items: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  /* height: 600px; */
  width: 600px;
  background-color: white;
  padding: 0;
  margin: 20px 0;
  background-color: rgb(52, 61, 65);
  /* border-color: black;
  border-width: 5px; */
  /* border-style: solid; */
 
}

.grid div {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 4.8%;
  width: 4.8%;
  /* border-radius: 2px; */
}

footer {
  /* background-color: cornflowerblue; */
  margin-top: 65px;
  width: 600px;
  text-align: center;
  color: whitesmoke;
}

div.water {
  background-color: rgb(84, 166, 254);
  background-image: url('../assets/pngkey.com-patterns-png-920610.png');
  background-repeat: no-repeat;
  background-size: auto;
}

div.safety-pads {
  background-image: url('../assets/PinClipart.com_lily-pad-clipart_5250322.png');
  background-repeat: no-repeat;
  background-size: contain;
  /* ; */

}
/* div.safety-with-frog {
  background-color: red;
} */
div.water-safety {
  background-color: rgb(249, 139, 71);
  border-radius: 5px;
}
div.road {
  background-image: url(../assets/road.png);
  background-attachment:fixed;
  background-size: cover;
  /* background-color: rgb(164, 188, 205); */
}
div.frog.road {
  background-image: url(../assets/PinClipart.com_cute-hopping-frog-clipart_5585811.png), url(../assets/road.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: initial;
  background-position: center;
  
}


div.road-safety  {
  background-color: rgb(249, 139, 71);

  border-radius: 5px;
  /* border-color: black;
  border-width: 5px;
  border-style: solid; */
}
div.obstacles.road {
  background-image: url(../assets/coronavirus-5107715_1920.png), url(../assets/road.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: inherit;
  background-position: center;
 
}
div.objects {
  background-image: url(../assets/kisspng-respirator-surgical-mask-nose-2018-01-15-mask-health-5b0c02368799a5.1293411415275136545554.png);
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: contain;
  background-position: center;
}
div.objects.water.frog {
  background-image: url(../assets/PinClipart.com_cute-hopping-frog-clipart_5585811.png), url(../assets/kisspng-respirator-surgical-mask-nose-2018-01-15-mask-health-5b0c02368799a5.1293411415275136545554.png), url(../assets/pngkey.com-patterns-png-920610.png);
  background-position: center;
  background-size: contain;
}
.frog {
  background-image: url(../assets/PinClipart.com_cute-hopping-frog-clipart_5585811.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: initial;
  ;
}

.start {
  /* background-color:: */
  font-family: 'Exo', sans-serif;
  background-color: rgb(127 147 156);
  width: 150px;
  height: 50px;
  margin: 50px 0;
  font-size: x-large;
}

.reset {
  font-family: 'Exo', sans-serif;
  background-color: rgb(127 147 156);
  width: 150px;
  height: 50px;
  margin: 50px 0;
  font-size: x-large;
}

.hidden {
  display: none;
}
/* .game-over {
  display: none;
} */




